html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
aside,
article,
section,
header,
footer,
nav,
form {
  display: block;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #d87093;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #fff;
}
h1 {
  text-align: center;
}

.links-container {
  display: flex;
  margin: 2em auto;
}
.link {
  margin: 2em;
  font-size: 3em;
  text-decoration: none;
  color: #111;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 2px;
  box-shadow: rgba(207, 92, 134, 0.9) 0px 48px 100px 0px;
}
